body {
  margin: 0;
  padding: 0;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  height: 500px;
  background: url(banner.jpg) center center no-repeat;
  padding: 20px;
}
.banner .about-signin {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-signin .about,
.banner .about-signin .sign-in {
  text-decoration: none;
  margin-top: 20px;
  padding: 7px 15px;
  display: inline-block;
  text-transform: uppercase;
}
.banner .about-signin .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 20px;
  border: 1px solid green;
  background: none;
  color: green;
}
.banner .logo {
  background: url(hapoERP.png) center center no-repeat;
  margin-top: 40px;
  height: 100px;
}
.banner .text {
  text-align: center;
  margin-top: 25px;
}
.banner .text span {
  font-size: 20px;
}
.banner .btn-start-now {
  text-align: center;
  margin-top: 25px;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 10px 20px;
  width: 140px;
  border-radius: 20px;
  border: 2px solid green;
  cursor: pointer;
  background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
}
.banner .content-center .left,
.banner .content-center .right,
.banner .content-center .center {
  width: 33%;
  display: inline-block;
  text-align: center;
  height: 100%;
}
.banner .content-center img {
  width: 40px;
}
.banner .content-center span {
  display: block;
  font-size: 30px;
  padding-top: 5px;
}
